.imgPikachu {
    width: 300px;
}

.logoPokemon {
    width: 100px;
}

h1{
    color:rgb(39, 39, 39);
}

a{
    text-decoration: none;
}

.active{
    color:rgb(2, 199, 199);
}

.inactive{
    color: ghostwhite;
}

.namesList{
    text-transform: capitalize;
}
